body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #00274D; /* Azul Marino */
    color: white;
    padding: 15px 0;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

h2 {
    color: #00274D;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.integrantes li {
    font-weight: bold;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.gallery img {
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

